body {
    font-family: Arial;
    background: #f2f6ff;
    text-align: center;
}

textarea {
    width: 60%;
    height: 120px;
    padding: 10px;
}

.row select {
    padding: 10px;
    margin: 10px;
}

button {
    padding: 10px 20px;
    margin-top: 10px;
}

.output {
    margin-top: 20px;
    background: white;
    padding: 15px;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}
